<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked By Others</title>
</head>
<body>
    <h1>Booked By Others</h1>
    <ul>
        {% for booking, user_name, product_name in bookings %}
            <li>
                {{ user_name }} has booked {{ product_name }} from {{ booking.booked_calendar.split(' - ')[0] }} to {{ booking.booked_calendar.split(' - ')[1] }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
