{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>Share and lend garden gear with ease!</h1>
    <p>Let your garden dreams grow!</p>
    <div class="buttons">
        <a href="{{ url_for('main.login') }}" class="btn">Login</a>
        <a href="{{ url_for('main.register') }}" class="btn">Register</a>
    </div>
</div>

<div class="about-us">
    <div class="about-content">
        <h2>About Us</h2>
        <p>
            GardenLend was founded with the idea of allowing people to easily borrow gardening equipment in their neighbourhood. 
            We believe in sustainability and sharing resources, giving everyone the chance to enjoy the outdoors without large investments.
        </p>
        <p>
            From lawnmowers to hedge trimmers, we offer a wide range of tools that are accessible to everyone. 
            With GardenLend, we aim to fill the gap between gardeners and the tools they need. 
            Whether you are an experienced gardener or just starting out, our platform allows you to find and borrow the right tools from people near you.
        </p>
        <p>
            With every booking, you pay 1 euro as a donation fee. With this 1 euro, the Arbor Day Foundation plants a tree. 
            This way, you contribute your tree to society. 
            To find out more about the Arbor Day Foundation, visit: 
            <a href="https://www.arborday.org/" target="_blank" rel="noopener noreferrer">www.arborday.org</a>.
        </p>
    </div>
</div>
{% endblock %}