{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>Rent garden gear with ease!</h1>
    <p>Let your garden dreams grow!</p>
    <div class="buttons">
        <a href="{{ url_for('main.login') }}" class="btn">Login</a>
        <a href="{{ url_for('main.register') }}" class="btn">Register</a>
    </div>
    <div class="scroll-down">
        <p>Scroll down to learn about us</p>
        <div class="arrow"></div>
    </div>
</div>

<div class="about-us">
    <div class="about-content">
        <h2>About Us</h2>
        <p>
            GardenLend was founded with the idea of making it easy for people to access gardening equipment in their neighborhood. 
            We believe in sustainability and sharing resources, giving everyone the opportunity to enjoy the outdoors without the need for large investments.

        </p>
        <p>
            From lawnmowers to hedge trimmers, we offer a wide range of tools that are accessible to everyone. 
            With GardenLend, we aim to fill the gap between gardeners and the tools they need. 
            Whether you are an experienced gardener or just starting out, our platform allows you to find and borrow the right tools from people near you.
        </p>
        <p>
            To allow us to keep expanding our services while promoting sustainability, we take a 20% commission fee on the price set by the owner of the product. 
            Each year, we donate 10% of our profits to the Arbor Day Foundation.
            This foundation plants a tree for every euro they get donated.
            This way, by using GardenLend, you not only access the tools you need but also contribute positively to the environment.
            To find out more about the Arbor Day Foundation, visit: 
            <a href="https://www.arborday.org/" target="_blank" rel="noopener noreferrer">www.arborday.org</a>.
        </p>
    </div>
</div>
{% endblock %}