<!DOCTYPE html>
<html>
<head>
    <title>All Listings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>All Listings</h1>
    <div class="container">
        {% for product in listings %}
        <div class="card">
            <img src="{{ product.picture or '/static/default_image.jpg' }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p><strong>Status:</strong> {{ product.status }}</p>
            <a href="/product-details/{{ product.listingID }}" class="btn">Meer Details</a>
        </div>
        {% endfor %}
    </div>
    <a href="/dashboard" class="back-home">Back to Dashboard</a>
</body>
</html>